<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Document</title>
</head>

<body>
    {{>navbar}}

    {{>background}}

<div class="team-top-header text-center about">
                        <h1>About Us </h1>
                    
                    </div>




    {{!-- {{>contact}} --}}
</body>
</html>