<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Document</title>
</head>

<body>
    {{>navbar}}

    <header style="background-image: url('images/2.jpg');    background-size: cover;
    background-position: center; ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="te text-center text-white">
                    <!---<h1>Self care isn't selfish</h1>
                    <p>Ladies You Want To<span class="bold-style"> Know More?</span></p>--->
                </div>
            </div>
        </div>
    </div>
</header>


<section id="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/health.jpg"
                                alt ="" />
                </div>
            </div>
        
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/pcos.jpg"
                                alt="" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-text">
                    <img class="img-fluid"
                                src="images/gyno2.jpg"
                                alt="" />
                    
                </div>
            </div>
        
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/pcos.jpg"
                                alt="" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/pcos.jpg"
                                alt="" />
                </div>
            </div>
             <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/pcos.jpg"
                                alt="" />
                </div>
            </div>
        </div>
    </div>
</section>


<section id="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/cups.jpeg"
                                alt="" />
                </div>
            </div>
        
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/pcos.jpg"
                                alt="" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-text">
                    <img class="img-fluid"
                                src="images/gyno2.jpg"
                                alt="" />
                    
                </div>
            </div>
        
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/pcos.jpg"
                                alt="" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/pcos.jpg"
                                alt="" />
                </div>
            </div>
             <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/pcos.jpg"
                                alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

    



</body>
</html>