<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Document</title>
</head>

<body>
    {{>navbar}}

    <header style="background-image: url('images/pcos1.jpg');    background-size: cover;
    background-position: center; ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="te text-center text-white">
                    <!---<h1>SHUSH...</h1>
                    <p>Ladies You Want To<span class="bold-style"> Know More?</span></p>--->
                </div>
            </div>
        </div>
    </div>
</header>

<div class="team-top-header text-center about">
                        <h1> PCOD and PCOS</h1>
                        <p>What every women go through</p>
                    </div>

                    <section id="recent-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="recent-text">
                                                <img class="img-fluid"
                                                    src="images/pcod.jpg"
                                                    alt="" />
                                                <h1>What is the difference between PCOD and PCOS?</h1>
                                                <p>In PCOD the ovaries start releasing immature eggs that lead to hormonal imbalances and swollen ovaries, among other symptoms; while in PCOS, endocrine issues cause the ovaries to produce excess androgens, which makes eggs prone to becoming cysts </p>
                                                <button type = "button" class="btn btn-primary">Know  More</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="recent-text">
                                                <img class="img-fluid"
                                                    src="images/pcodd.jpg"
                                                    alt="" />
                                                <h1>What Are the Symptoms of PCOS, and How Do You Treat It?
                                                </h1>
                                                <p>Many young women today have Polycystic Ovarian Syndrome, also known as PCOS. It can manifest itself with symptoms of severe cramping and pain around one’s period, as well as very long cycles between periods. There are some symptoms. 
                                                </p>
                                                <button type = "button" class="btn btn-primary">Know More</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                




    {{!-- {{>contact}} --}}
</body>
</html>