<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Document</title>
</head>

<body>
    {{>navbar}}

    <header style="background-image: url('images/2.jpg');    background-size: cover;
    background-position: center; ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="te text-center text-white">
                    <h1>SHUSH...</h1>
                    <p>Ladies You Want To<span class="bold-style"> Know More?</span></p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="team-top-header text-center about">
    <h1> Sex Education</h1>
    <p>What every women go through</p>
</div>
<section id="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="https://png.pngtree.com/png-vector/20211102/ourlarge/pngtree-business-illustration-of-the-concept-of-scientific-contraception-and-sex-education-png-image_4014370.png"
                                alt="" />
                    <h1>What is SEX EDucation?</h1>
                    <p>Sex education helps people gain the information and skills.
                        They need to make the best decisions for themselves about sex and relationships.
                      Planned Parenthood is the nation’s largest provider of sex education,
                       reaching 1.2 million people a year.</p>
                    <button type = "button" class="btn btn-primary" > Know More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/HY.jpg"
                                alt="" />
                    <h1>Role Parenthood Play in SEX Education?</h1>
                    <p>It is not only important to teach them the practical aspects of intercourse and pregnancy,
                         but it is important to teach them birth control as well. Don't be afraid to talk to your children. 
                         </p>
                    <button type = "button" class="btn btn-primary"> Know More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/mental.jpg"
                                alt="" />
                    <h1>Sex Education Resources</h1>
                    <p>The best sex education resource is your local Planned Parenthood education department!Inclusive and honest sex education goes beyond delivering information. 
                        It provides young people with opportunities to explore their own identities.</p>
                    <button type = "button" class="btn btn-primary"> Know More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/ED.jpg"
                                alt="" />
                    <h1>Sexually Transmitted Diseases</h1>
                    <p>Sexually transmitted diseases (STDs), or sexually transmitted infections (STIs), 
                        are infections that are passed from one person to another through sexual contact. 
                        They are usually spread during vaginal, oral, or anal sex.</p>
                    <button type = "button" class="btn btn-primary"> Know More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/C.jpg"
                                alt="" />
                    <h1>Sexual Hygiene</h1>
                    <p>Avoid oral sex immediately after anal sex. 
                        Change condoms between anal or oral sex. Wash your hands with soap before, during and after sex. 
                        Clean your private parts before and after sex.</p>
                    <button type = "button" class="btn btn-primary"> Know More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/pcos.jpg"
                                alt="" />
                    <h1>Safe Sex</h1>
                    <p>Safe sex is any sexual contact that protects you and your sexual partner/s against sexually transmissible infections (STIs) and unplanned pregnancy .</p>
                    <button type = "button" class="btn btn-primary"> Know More</button>
                </div>
            </div>
