<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Document</title>
</head>

<body>
    {{>navbar}}

    <header style="background-image: url('images/2.jpg');    background-size: cover;
    background-position: center; ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="te text-center text-white">
                    <!---<h1>SHUSH...</h1>
                    <p>Ladies You Want To<span class="bold-style"> Know More?</span></p>--->
                </div>
            </div>
        </div>
    </div>
</header>

<div class="team-top-header text-center about">
    <h1>Mental Health</h1>
    <p>What every women go through</p>
</div>
<section id="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/D.jpg"
                                alt="" />
                    <h1>What is Depression?</h1>
                    <p >Depression is more than just feeling down or having a bad day.
                        When a sad mood lasts for a long time and interferes with normal,
                         everyday functioning, you may be depressed. The exact cause of depression is unknown. It may be caused by a combination of genetic factors </p>
                    <button type = "button" class="btn btn-primary"> Know More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/AN.jpg"
                                alt="" />
                    <h1>What is Anxiety?</h1>
                    <p>An anxiety disorder is a type of mental health condition.
                         If you have an anxiety disorder, you may respond to certain things and situations with fear and dread. 
                         You may also experience physical signs of anxiety, such as a pounding heart and sweating.  
                     </p>
                    <button type = "button" class="btn btn-primary"> Know More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-text">
                    <img class="img-fluid"
                                src="https://img.freepik.com/free-vector/bipolar-disorder-concept-illustration_114360-3558.jpg?w=2000"
                                alt="" />
                    <h1>Wha is Bipolar Disorder?</h1>
                    <p>.People with bipolar disorder experience alternating depressive episodes with periods of manic symptoms. 
                         During a depressive episode, the person experiences depressed mood
                         or a loss of pleasure or interest in activities, nearly every day.</p>
                    <button type = "button" class="btn btn-primary">Know More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-text">
                    <img class="img-fluid"
                                src="https://img.freepik.com/free-vector/eating-disorder-concept-illustration_114360-8056.jpg"
                                alt="" />
                    <h1>What is Eating Disorder?</h1>
                    <p>
                         Eating disorders, such as anorexia nervosa and bulimia nervosa, 
                         involve abnormal eating and preoccupation with food as well as prominent body weight and shape concerns. 
                         The symptoms or behaviours result in significant risk or damage to health, significant distress, 
                        or significant impairment of functioning.</p>
                    <button type = "button" class="btn btn-primary">Know More</button>
                </div>
            </div>
            <div class="col-md-4">
            <div class="about-text">
                <img class="img-fluid"
                            src="https://www.teachermagazine.com/assets/images/teacher/Understanding-PTSD.jpg"
                            alt="" />
                <h1>Post-Traumatic Stress Disorder</h1>
                <p>The prevalence of PTSD and other mental disorders is high in conflict-affected settings.
                     PTSD may develop following exposure to an extremely threatening or horrific event or series of events.
                     re-experiencing the traumatic event or events in the present thoughts and memories of the event, 
                     or avoidance of activities, situations. 
                     </p>
                <button type = "button" class="btn btn-primary">Know More</button>
            </div>
        </div>
        <div class="col-md-4">
        <div class="about-text">
            <img class="img-fluid"
                        src="https://media.self.com/photos/5c080254b0213128f1d78b3b/master/pass/woman-head-illustration.jpg"
                        alt="" />
            <h1>Borderline Personality Disorder</h1>
            <p>People with borderline personality disorder may experience intense mood swings and feel uncertainty about how they see themselves.
                 Their feelings for others can change quickly, and swing from extreme closeness to extreme dislike.
                  These changing feelings can lead to unstable relationships and emotional pain.</p>
            <button type = "button" class="btn btn-primary">Know More</button>
        </div>
    </div>

        </div>
    </div>
</section>
