<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Document</title>
</head>

<body>
    {{>navbar}}

    <header style="background-image: url('images/pads.jpg');    background-size: cover;
    background-position: center; ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="te text-center text-white">
                    <!----<h1>SHUSH...</h1>
                    <p>Ladies You Want To<span class="bold-style"> Know More?</span></p>--->
                </div>
            </div>
        </div>
    </div>
</header>

<div class="team-top-header text-center about">
    <h1> Gyno Health</h1>
    <p>What every women go through</p>
</div>

<section id="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="https://img.freepik.com/free-vector/gynecologist-reproductologist-women-health-concept-human-anatomy-ovary-womb-pregnancy-monitoring-disease-treatment-isolated-illustration-cartoon-style_613284-2703.jpg"
                                alt="" />
                    <h1>Gynocology Health</h1>
                    <p class="">Gynecology deal with the female reproductive system.
                         While obstetrics deals with pregnancy and its associated procedures and complications, gynaecology involves treating women who are not pregnant.
                         </p>
                    <button type = "button" class="btn btn-primary"> Know More</button>
                </div>
            </div>
        
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="images/pcos.jpg"
                                alt="" />
                    <h1>Ovarian Cancer</h1>
                    <p>Ovarian cancers were previously believed to begin only in the ovaries,
                         but recent evidence suggests that many ovarian cancers may
                          actually start in the cells in the far (distal) end of the fallopian tubes.</p>
                    <button type = "button" class="btn btn-primary"> Know More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-text">
                    <img class="img-fluid"
                                src="images/gyno2.jpg"
                                alt="" />
                    <h1>Vaginal Infection</h1>
                    <p> A vaginal infection is a fungal infection that causes irritation, 
                        discharge and intense itchiness of the vagina and the vulva.
                         Also called vaginal candidiasis, vaginal yeast infection affects up to 3 out of 4 women at some point.</p>
                    <button type = "button" class="btn btn-primary">Know More</button>
                    
                </div>
            </div>
        
            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="https://images.onlymyhealth.com/imported/images/2022/April/29_Apr_2022/Big%20(15).jpg"
                                alt="" />
                    <h1>Menstrual Disorders</h1>
                    <p>
                         Premenstrual syndrome refers to physical and psychological symptoms occurring to menstruation.
                         Including heavy bleeding during a normal-length period.</p>
                    <button type = "button" class="btn btn-primary"> Know More</button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="https://media.istockphoto.com/id/1302921497/vector/woman-with-heart-shaped-hands-on-belly-flat-vector-illustration-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=tuw2OkIgTli3G7yKJYhmANCYusUdkvAzJhf1mKNRx1A="
                                alt="" />
                    <h1>Pelvis Pain</h1>
                    <p>  A sharp, stabbing or burning pain that happens suddenly.
                         A pain that comes on slowly but does not go away. 
                         A dull or heavy ache, or feeling of pressure. a twisted or knotted feeling.</p>
                    <button type = "button" class="btn btn-primary"> Know More</button>
                </div>
            </div>
             <div class="col-md-4">
                <div class="about-text border-right">
                    <img class="img-fluid"
                                src="https://thumbs.dreamstime.com/b/vector-design-incontinence-bladder-sign-set-incontinence-urine-stock-symbol-web-isolated-object-incontinence-149929566.jpg"
                                alt="" />
                    <h1>Urinary Incontinence</h1>
                    <p> the loss of bladder control is a common and often embarrassing problem.
                         The severity ranges from occasionally leaking urine when you cough or sneeze
                         to having an urge to urinate.</p>
                    <button type = "button" class="btn btn-primary""> Know More</button>
                </div>
            </div>
        </div>
    </div>
</section>
