<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Document</title>
</head>

<body>
    {{>navbar}}

    <header style="background-image: url('images/calender.jpg');    background-size: cover;
    background-position: center; ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="te text-center text-white">
                    <!----<h1>SHUSH...</h1>---->
                    <!---<p>Ladies You Want To<span class="bold-style"> Know More?</span></p>--->
                </div>
            </div>
        </div>
    </div>
</header>

<div class="team-top-header text-center about">
                        <h1> Period</h1>
                        <p>What every women go through</p>
                    </div>

                    <section id="about-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="about-text border-right">
                                        <img class="img-fluid"
                                                    src="images/period1.jpeg"
                                                    alt="" />
                                        <h1>What are Period?</h1>
                                        <p class="">Periods or menstruation is a natural biological process in which blood and tissue from your uterus come out from your vagina. This usually happens once a month. The ovaries are responsible for the release of the hormones, oestrogen, and progesterone. </p>
                                        <button type = "button" class="btn btn-primary">Know More</button>
                                    </div>
                                </div>
                            
                                <div class="col-md-4">
                                    <div class="about-text border-right">
                                        <img class="img-fluid"
                                                    src="images/pms.jpg"
                                                    alt="" />
                                        <h1>What is PMS?</h1>
                                        <p> Premenstrual Syndrome is a term used to describe a group of physical and behavioral changes that some women experience before their menstrual periods every month. Symptoms may include sharp mood swings, irritability, anxiety </p>
                                        <button type = "button" class="btn btn-primary">Know More</button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="about-text">
                                        <img class="img-fluid"
                                                    src="images/pc.jpg"
                                                    alt="" />
                                        <h1>How to treat your period cramps</h1>
                                        <p>During your menstrual period, your uterus contracts to help expel its lining. Hormone like substances involved in pain and inflammation trigger the uterine muscle contractions. Here are some remedies to help with.</p>
                                        <button type = "button" class="btn btn-primary">Know More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="about-text border-right">
                                        <img class="img-fluid"
                                                    src="images/tampons.jpg"
                                                    alt="" />
                                        <h1>Tampons or Pads?</h1>
                                        <p class="">If you’re prone to waking up to sheets that resemble a crime scene, then the biggest pad with wings is probably at the top of the list. But when the sticky backing pulls at your pubes, it’s back to tampons again. </p>
                                        <button type = "button" class="btn btn-primary">Know More</button>
                                    </div>
                                </div>
                            
                                <div class="col-md-4">
                                    <div class="about-text border-right">
                                        <img class="img-fluid"
                                                    src="images/pcos.jpg"
                                                    alt="" />
                                        <h1>When you should seek medical help?</h1>
                                        <p>While period pain usually ranges from a dull ache in the belly to painful cramps, how you experience period pains is also largely determined by your pain tolerance</p>
                                        <button type = "button" class="btn btn-primary">Know More</button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="about-text">
                                        <img class="img-fluid"
                                                    src="images/gyno2.jpg"
                                                    alt="" />
                                        <h1>Why should I keep track of my menstrual cycle?
                                        </h1>
                                        <p>If your periods are regular, tracking them will help you know when you ovulate, when you are most likely to get pregnant, and when to expect your next period to start.
                                        </p>
                                        <button type = "button" class="btn btn-primary">Know More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                            

                    {{!-- contact us start --}}
                    {{>contact}}
                    {{!-- contact us ends --}}


    {{!-- {{>contact}} --}}
</body>
</html>