<header style="background-image: url('images/petal.jpg');    background-size: cover;
    background-position: center; ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="te text-center text-white">
                    <h1>SHUSH!</h1>
                    <p>Ladies You Want To<span class="bold-style"> Know More?</span></p>
                </div>
            </div>
        </div>
    </div>
</header>
